@model Recipe

<h1>@Model.DishName</h1>
<h2>Created By: @Model.ChefName</h2>
<hr>
<p>@Model.Description</p>
<h4>Calories: @Model.Calories</h4>
<h3>Tasty Rater: @Model.Tasty</h3>


<a
asp-controller="recipes"
asp-action="Edit"
asp-route-recipeId="@Model.RecipeId">Edit Dish</a>

<form
asp-controller="recipes"
asp-action="delete"
asp-route-recipeId="@Model.RecipeId"
method="POST"><button>Remove Recipe</button></form>